.App {
  text-align: center;
}

body {
  background: #224231;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cal {
  margin-top: 150px;
  margin-left: 375px;
  display: flex;
  flex-direction: column;
  height: 350px;
  border: 3px solid #fff;
  width: 40%;
  padding: 5px;
  background: #f9c80e;
}

.cal input[type='text'] {
  height: 20%;
  text-align: right;
  font-weight:lighter;
  font-family: 'Times New Roman', Times, serif;
  color: #000;
  font-size: 50px;
  border: 2px solid #afc5a0;
  border-radius: 4px;
}

.keypad {
  margin-top: 10px;
  width: 98%;
  display: flex;
  flex-direction: column;
  border: 2px solid #ff2342;
  padding: 0px 3px;
  padding-bottom: 2px; 
  height: 75%;
  background: #040f0f;
}

.row {
  display: flex;
  flex-direction: row;
  height: 16%;
  margin-top: 2px;
}

.btn {
  width: 20%;
  height: 100%;
  margin-left: 2px;
  font-size: large;
  font-weight: bold; 
  border-radius: 10px;
  border: 2px solid #ff6663;
  box-sizing: border-box;
}


.btn-f {
  width: 20%;
  height: 100%;
  margin-left: 2px;
  font-size: large;
  font-weight: bold; 
  border-radius: 10px;
  border: 2px solid #fff;
  background: #75b9be;
  box-sizing: border-box;
  color: #fff;
}

.btn-k {
  width: 20%;
  color: #fff;
  height: 100%;
  margin-left: 2px;
  font-size: large;
  font-weight: bold; 
  border-radius: 10px;
  background: #f9c80e;
  border: 2px solid #fff;
  box-sizing: border-box;
}